################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/FastDTO/obj
/FastDTO/bin
/FastDTO/FastDTO.csproj~RF7d44bbb.TMP
/FastDTO.sln
/ConsoleApp1/ConsoleApp1.csproj
/ConsoleApp1/Program.cs
